body{
    text-align: center;
    color:black;
    background-color:lightpink;
}

.titulo {
    font-family: monospace;
    color: white;
}

.subtitulo {
    font-family: monospace;
}

footer {
background-color: lightskyblue;
}